#### Idea1: Can we improve yield prediction for different crops across different counties in the US? Understanding crop yield data is essential to ensure food security and climate change, and changes in weather patterns are affecting crop yield throughout. The goal of this project is to be able to predict the yield of crops in the US using publicly available datasets on weather, soil quality, amount of crop irrigated and other features. 

#### This project predicts the yield of wheat in different counties in the US. The datasets for this project is from https://github.com/aerialintel/data-science-exercise and includes data for both 2013 and 2014. 


#### The 2013 dataset is loaded here.

In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon
import datetime as dt
from scipy import stats

%matplotlib inline

In [99]:
#### Reading in dataset

In [100]:
df1_2013 = pd.read_csv('Wheat2013.csv',header = 0)
df1_2014 = pd.read_csv('Wheat2014.csv',header = 0)

In [119]:
df1_2013['precipIntensity'].head(10)

0    0.0000
1    0.0001
2    0.0001
3    0.0002
4    0.0003
5    0.0000
6    0.0000
7    0.0000
8    0.0000
9    0.0000
Name: precipIntensity, dtype: float64

In [102]:
df1_2014.tail(2)

,CountyName,State,Latitude,Longitude,Date,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,DayInSeason,Yield
182547,Miami,Kansas,38.564866,-94.748021,6/3/2015 0:00,75.35,64.44,0.13,62.74,0.84,...,0,1013.01,75.35,64.44,9.28,132,6.26,129.938950,185,50.1
182548,Miami,Kansas,38.392008,-94.855430,6/3/2015 0:00,75.27,64.57,0.13,62.72,0.84,...,0,1013.00,75.27,64.57,9.26,132,6.23,129.784332,185,50.1

In [103]:
## Converting date/time column to datetime format
df1_2013['Date'] = pd.to_datetime(df1_2013['Date'])
df1_2014['Date'] = pd.to_datetime(df1_2014['Date'])

In [104]:
# Adding a column for year for both datasets
df1_2013['year'] = df1_2013['Date'].dt.year
df1_2014['year'] = df1_2014['Date'].dt.year

In [105]:
### Standardizing data on a county basis, based on day in season, location of farm 
df2_2013 = df1_2013.groupby(['CountyName','State','DayInSeason'], as_index=False).agg({'apparentTemperatureMax':"mean", 'apparentTemperatureMin':"mean",
                                                                                     'cloudCover':"mean", 'dewPoint':"mean", 'humidity':"mean", "precipIntensity":"mean",
                                                                                      'precipIntensityMax':"mean",'precipProbability':"min",'precipAccumulation':"mean",
                                                                                      'precipTypeIsRain':"median", 'precipTypeIsSnow':"median",'precipTypeIsOther':"median",
                                                                                       'pressure':"mean", 'temperatureMax':"mean",
                                                                                       'temperatureMin':"mean", 'visibility':"mean", 'windBearing':"mean", 'windSpeed':"mean",
                                                                                       'NDVI':"mean", 'Yield':"mean", 'year':"max"})

In [106]:
df2_2013.head()

,CountyName,State,DayInSeason,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
0,Adams,Washington,0,31.896667,24.838333,0.303333,29.483333,0.928333,0.000117,0.002250,...,0,1026.718333,34.068333,27.396667,2.825000,166.333333,1.380000,131.792425,35.7,2013
1,Adams,Washington,1,41.881667,28.278333,0.178333,37.350000,0.873333,0.006667,0.037267,...,0,1012.293333,47.500000,33.525000,6.580000,212.333333,7.953333,131.634992,35.7,2013
2,Adams,Washington,2,39.118333,20.125000,0.046667,25.056667,0.628333,0.000233,0.003500,...,0,1008.456667,46.168333,29.596667,9.913333,261.000000,8.965000,140.914810,35.7,2013
3,Adams,Washington,3,22.208333,6.820000,0.051667,9.633333,0.496667,0.000083,0.000700,...,0,1022.330000,31.915000,16.205000,9.670000,14.666667,10.800000,138.661329,35.7,2013
4,Adams,Washington,4,23.566667,1.811667,0.013333,5.556667,0.605000,0.000000,0.000000,...,0,1028.120000,26.183333,10.880000,9.990000,75.666667,2.691667,136.871195,35.7,2013

In [107]:
### Standardizing data on a county basis, based on day in season, location of farm 
df2_2014 = df1_2014.groupby(['CountyName','State','DayInSeason'], as_index=False).agg({'apparentTemperatureMax':"mean", 'apparentTemperatureMin':"mean",
                                                                                     'cloudCover':"mean", 'dewPoint':"mean", 'humidity':"mean", "precipIntensity":"mean",
                                                                                      'precipIntensityMax':"mean",'precipProbability':"min",'precipAccumulation':"mean",
                                                                                      'precipTypeIsRain':"median", 'precipTypeIsSnow':"median",'precipTypeIsOther':"median",
                                                                                       'pressure':"mean", 'temperatureMax':"mean",
                                                                                       'temperatureMin':"mean", 'visibility':"mean", 'windBearing':"mean", 'windSpeed':"mean",
                                                                                       'NDVI':"mean", 'Yield':"mean", 'year':"max"})

In [108]:
df2_2014.head()

,CountyName,State,DayInSeason,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
0,Adams,Washington,0,19.448333,-2.028333,0.018333,7.061667,0.683333,0.000000,0.000000,...,0,1027.846667,25.023333,8.055000,9.998333,65.833333,4.691667,135.336891,35.6,2014
1,Adams,Washington,1,25.160000,5.945000,0.170000,12.493333,0.748333,0.000000,0.000000,...,0,1024.780000,25.160000,12.050000,9.921667,150.166667,0.991667,131.745382,35.6,2014
2,Adams,Washington,2,22.111667,6.661667,0.076667,15.650000,0.773333,0.000000,0.000000,...,0,1025.961667,29.646667,15.711667,9.355000,180.833333,5.546667,132.001272,35.6,2014
3,Adams,Washington,3,28.166667,8.843333,0.086667,18.106667,0.750000,0.000017,0.000233,...,0,1018.151667,32.463333,18.628333,9.671667,132.666667,4.383333,131.834915,35.6,2014
4,Adams,Washington,4,30.038333,22.323333,0.500000,25.768333,0.841667,0.002550,0.013850,...,0,1016.981667,31.941667,28.215000,7.711667,80.833333,2.873333,130.630046,35.6,2014

In [113]:
df2_2013[df2_2013['pressure'].isna()]

,CountyName,State,DayInSeason,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
24699,Johnston,Oklahoma,37,20.624000,0.644000,0.0,3.484000,0.528000,0.0,0.0,...,0,NaN,28.936000,10.704000,10.000000,323.000000,4.974000,157.600000,33.6,2014
24700,Johnston,Oklahoma,53,51.774000,19.832000,0.0,20.118000,0.512000,0.0,0.0,...,0,NaN,51.774000,25.060000,10.000000,67.000000,5.572000,150.800000,33.6,2014
24701,Johnston,Oklahoma,101,80.386000,53.566000,0.0,48.862000,0.598000,0.0,0.0,...,0,NaN,82.164000,53.566000,9.742000,215.000000,5.630000,158.800000,33.6,2014
24702,Johnston,Oklahoma,133,81.172000,63.472000,0.0,60.544000,0.694000,0.0,0.0,...,0,NaN,80.554000,63.472000,10.000000,172.600000,13.964000,175.200000,33.6,2014
24703,Johnston,Oklahoma,149,75.324000,55.504000,0.0,41.056000,0.412000,0.0,0.0,...,0,NaN,75.324000,55.504000,9.292000,285.800000,5.072000,177.600000,33.6,2014
26936,Lamar,Texas,46,52.250000,24.930000,0.0,22.030000,0.480000,0.0,0.0,...,0,NaN,52.250000,31.060000,9.970000,287.000000,4.500000,142.000000,52.2,2014
26937,Lamar,Texas,110,69.961667,35.908333,0.0,31.045000,0.456667,0.0,0.0,...,0,NaN,69.961667,37.068333,9.885000,184.166667,1.953333,161.500000,52.2,2014
29725,Marshall,Oklahoma,37,21.430000,0.100000,0.0,2.810000,0.495000,0.0,0.0,...,0,NaN,30.111667,11.893333,10.000000,329.833333,5.981667,150.833333,35.5,2014
29726,Marshall,Oklahoma,53,52.426667,21.145000,0.0,19.853333,0.490000,0.0,0.0,...,0,NaN,52.426667,26.386667,10.000000,65.833333,5.886667,149.666667,35.5,2014
29727,Marshall,Oklahoma,101,80.341667,53.628333,0.0,48.761667,0.600000,0.0,0.0,...,0,NaN,81.971667,53.628333,9.643333,205.333333,6.380000,153.166667,35.5,2014
29728,Marshall,Oklahoma,133,81.323333,63.353333,0.0,60.038333,0.683333,0.0,0.0,...,0,NaN,80.670000,63.353333,10.000000,171.166667,14.760000,165.333333,35.5,2014
29729,Marshall,Oklahoma,149,76.016667,56.376667,0.0,39.996667,0.385000,0.0,0.0,...,0,NaN,76.016667,56.376667,9.385000,283.333333,4.721667,181.666667,35.5,2014

In [114]:
## Combining both datasets into one.
df = df2_2013.append(df2_2014)

In [116]:
df.head(20)

,CountyName,State,DayInSeason,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
0,Adams,Washington,0,31.896667,24.838333,0.303333,29.483333,0.928333,0.000117,0.002250,...,0,1026.718333,34.068333,27.396667,2.825000,166.333333,1.380000,131.792425,35.7,2013
1,Adams,Washington,1,41.881667,28.278333,0.178333,37.350000,0.873333,0.006667,0.037267,...,0,1012.293333,47.500000,33.525000,6.580000,212.333333,7.953333,131.634992,35.7,2013
2,Adams,Washington,2,39.118333,20.125000,0.046667,25.056667,0.628333,0.000233,0.003500,...,0,1008.456667,46.168333,29.596667,9.913333,261.000000,8.965000,140.914810,35.7,2013
3,Adams,Washington,3,22.208333,6.820000,0.051667,9.633333,0.496667,0.000083,0.000700,...,0,1022.330000,31.915000,16.205000,9.670000,14.666667,10.800000,138.661329,35.7,2013
4,Adams,Washington,4,23.566667,1.811667,0.013333,5.556667,0.605000,0.000000,0.000000,...,0,1028.120000,26.183333,10.880000,9.990000,75.666667,2.691667,136.871195,35.7,2013
5,Adams,Washington,5,16.603333,-1.230000,0.146667,5.796667,0.738333,0.000000,0.000000,...,0,1027.923333,20.253333,7.275000,9.793333,34.000000,2.326667,132.221169,35.7,2013
6,Adams,Washington,6,6.951667,-4.938333,0.050000,2.161667,0.596667,0.000000,0.000000,...,0,1025.996667,19.741667,8.228333,9.818333,27.500000,10.621667,135.866127,35.7,2013
7,Adams,Washington,7,12.288333,-10.086667,0.000000,-7.820000,0.455000,0.000000,0.000000,...,0,1027.831667,17.800000,1.606667,9.946667,63.833333,5.205000,135.851092,35.7,2013
8,Adams,Washington,8,12.851667,-13.568333,0.050000,-2.913333,0.608333,0.000000,0.000000,...,0,1033.423333,16.555000,-0.898333,9.921667,147.833333,2.945000,133.031980,35.7,2013
9,Adams,Washington,9,15.700000,-1.423333,0.040000,4.176667,0.635000,0.000000,0.000000,...,0,1033.105000,21.826667,7.406667,9.996667,76.833333,1.813333,134.787722,35.7,2013
10,Adams,Washington,10,26.098333,6.116667,0.026667,9.331667,0.693333,0.000000,0.000000,...,0,1031.941667,27.186667,11.640000,9.843333,233.666667,2.231667,135.175837,35.7,2013
11,Adams,Washington,11,30.706667,6.653333,0.135000,15.311667,0.726667,0.000000,0.000000,...,0,1031.541667,30.706667,14.960000,9.698333,122.666667,3.230000,134.112033,35.7,2013
12,Adams,Washington,12,27.563333,12.855000,0.080000,19.530000,0.806667,0.000667,0.007917,...,0,1024.563333,30.941667,17.630000,9.276667,115.333333,1.965000,131.541199,35.7,2013
13,Adams,Washington,13,31.446667,12.841667,0.045000,22.168333,0.818333,0.000150,0.002083,...,0,1027.458333,34.206667,19.205000,8.195000,134.666667,1.658333,131.407860,35.7,2013
14,Adams,Washington,14,32.688333,21.248333,0.100000,28.180000,0.870000,0.000017,0.000267,...,0,1029.356667,35.930000,27.095000,6.183333,84.166667,1.746667,132.151616,35.7,2013
15,Adams,Washington,15,39.743333,21.241667,0.043333,29.666667,0.845000,0.000000,0.000000,...,0,1025.818333,44.518333,27.065000,6.833333,181.666667,3.903333,134.526225,35.7,2013
16,Adams,Washington,16,41.765000,20.433333,0.036667,29.378333,0.870000,0.000000,0.000000,...,0,1028.971667,42.970000,26.481667,8.718333,225.833333,1.185000,135.429583,35.7,2013
17,Adams,Washington,17,34.708333,16.991667,0.036667,26.606667,0.891667,0.000000,0.000000,...,0,1021.310000,37.391667,22.865000,6.215000,134.833333,1.081667,132.022260,35.7,2013
18,Adams,Washington,18,32.850000,19.043333,0.073333,27.550000,0.848333,0.000033,0.000700,...,0,1015.043333,36.895000,27.795000,6.840000,271.666667,2.128333,131.038396,35.7,2013
19,Adams,Washington,19,29.753333,10.870000,0.033333,10.241667,0.511667,0.000000,0.000000,...,0,1022.781667,32.811667,19.055000,10.000000,315.333333,2.716667,138.101374,35.7,2013